<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<header>
			<div class="product">
				<div class="left">
					<img src="img/2-小圆馒头.png" class="img" />
				</div>
				<div class="right">
					<div class="right_1">
						<span class="head">{{item.name}}</span>
					</div>
					<div class="unit">
						<span>品类：</span><span>{{item.category_name}}</span><span> 单位：</span><span>{{item.unit}}</span>
					</div>
					<div class="clearfix">
						<span class="price">&yen;<i>{{item.price}}</i></span> 
						<button class="order" id="ordera" ng-if="!item.onEdit && !item.last_buy_quantity" ng-click="order(item.product_id)">点击订货</button>
						<div class="order_beifen" id="order_beifen" ng-hide="!item.onEdit && !item.last_buy_quantity"><!-- ng-click="order(item.product_id)"-->
							<input type="number" ng-model="item.last_buy_quantity" class="order_input" ng-blur="input_blur(item.product_id)"/>
							<div class="order_text" ng-click="clear(item.product_id)">清 零</div>
						</div>
					</div>
				</div>
			</div>
		</header>
	</body>
</html>
