<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>订单详情</title>
		<link rel="stylesheet" type="text/css" href="../css/index.css"/>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	</head>
	<body>
		<header class="header_title">
			<img src="../img/left.png"/><span>订单详情</span>
		</header>
		<section>
			<div class="details">
				<p>订单编号：<span>11</span></p>
				<p>下单时间：<span>2016-11-04 04:44:42</span></p>
				<p>配送日期：<span>2016-11-05</span></p>
				<p class="letter_hack">总金额：<span>0.76</span><span>元</span></p>
				<p>订单状态：<span>未支付</span></p>
			</div>
			
			<div class="indent_bottom">
				<p>北方馒头（方）<span class="indent_bottom_right">×2</span></p>
				<p>单位：包
							  <span class="indent_bottom_right">
							  		<span>&yen;：</span><span>19.8</span>
							  </span>
				</p>
				<div class="border_bottom"></div>
			</div>
			
				
		</section>
		<footer>
			
		</footer>
	</body>
</html>
