<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/index.css"/>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	</head>
	<body>
		<header class="header_title">
			<span>我的账单</span>
		</header>
		<section>
			<div class="bill">
				<div class="bill_left">
					<p>总 金 额：</p>
					
				</div>
				<div class="bill_right">
					<button>立即支付</button>
				</div>
			</div>
		</section>
		<footer>
			
		</footer>
	</body>
</html>
